/* http://paletton.com/palette.php?uid=7000u0kmCCeddPViHIdqRwtv8pR */
/* font-family: 'Luckiest Guy', cursive;
font-family: 'Open Sans', sans-serif; */

body {
  background-color: #8BED8B;
  box-sizing: border-box;
}

div {
  border: .5px solid gray;
}

h1, h2, h3 {
  font-family: 'Luckiest Guy', cursive;
}
h4,h5,h6,p,a,input,button,label {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 54px;
}
img {
  /* max-width: 200px; */
  margin-top: 33px;
  user-select: none;
  border: 5px solid white;
}

.btn {
  border-radius: 0px;
  color: white;
  font-size: 18px;
  z-index: 999;
}
.btn:focus{
  outline: none;
}
.btn-location {
  background-color: #FF8A29;
  border-bottom: 3px solid #CE6106;
  color: white;
}
.btn-location:hover {
  background-color: #CE6106;
  border-bottom: 3px solid #FF8A29;
  color: white;
}

.btn-timing {
  background-color: #FF4B4B;
  border-bottom: 3px solid #CE0606;
  color: white;
}
.btn-timing:hover {
  background-color: #CE0606;
  border-bottom: 3px solid #FF4B4B;
  color: white;
}

.collapse-fixed {
  position: absolute;
  top: 0px;
  left: 0px;
}

.collapse-fixed-content {
  position: absolute;
  top: 30px;
  left: 0px;
}

.collapsing {
  color: none;
  border: none;
  background-color: none;
}


.expanded-container {
  background-color: rgba(255,255,255,.4);
  width: 24.8vw;
  height: 150px;
}


.img-loc-fixed {
  position: relative;
}
.text-loc-name {
  position: absolute;
  top: 15%;
  left: 20%;
}
.text-loc-address {
  position: absolute;
  top: 40%;
  left: 20%;
}
.text-loc-timing {
  position: absolute;
  top: 65%;
  left: 20%;
}